main {
    width: 100dvw;
    height: 100dvh;
}

noscript {
    height: 100dvh;
    width: 100dvw;
    position: absolute;
    background-color: white;
    top: 0px;
    left: 0px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centred-column-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#role-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.role-item {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

.full-screen {
    height: 100dvh;
    width: 100dvw;
}

i {
    font-size: 30pt;
}

#role-container h1 {
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none;
}

.error-alert {
    padding: 10px 5px;
    background-color: rgba(255, 9, 9, 0.5);
    border: 1px solid black;
    border-radius: 10px;
}